numpy
pandas
numpydoc
matplotlib>=3.2.0
sphinx_rtd_theme
tensorflow
#sklearn
scikit-learn
logomaker
seaborn
suftware
nbsphinx
ipykernel
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
ipywidgets
sphinx-copybutton
sphinx-gallery
jupytext
sphinx-last-updated-by-git