backports.functools-lru-cache==1.5
biopython==1.71
cvxopt==1.1.9
cycler==0.10.0
Cython==0.28.1
kiwisolver==1.0.1
matplotlib==2.2.2
mpmath==1.0.0
numpy==1.14.2
pandas==0.22.0
pymc==2.3.6
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
weblogo==3.6.0
